SESSION_SECRET="cualquiertexto_largo"

PUBLIC_STORE_DOMAIN="diamondjewelry-co.myshopify.com"
PUBLIC_STOREFRONT_ID="your-storefront-id"
PUBLIC_STOREFRONT_API_TOKEN="your-public-storefront-api-token"
PRIVATE_STOREFRONT_API_TOKEN="your-private-storefront-api-token"
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID="your-customer-account-client-id"
PUBLIC_CUSTOMER_ACCOUNT_API_URL="https://diamondjewelry-co.myshopify.com"
PRIVATE_CUSTOMER_ACCOUNT_API_SECRET="your-customer-account-api-secret"
PUBLIC_CHECKOUT_DOMAIN="https://checkout.shopify.com"
SHOP_ID="your-shop-id"
